@model EVO_WebAPP.Models.Contact


<form id="ImportProcess" autocomplete="off">
    @*<div class="tab-content pos-rlt">
        <div class="tab-pane active" id="tab-1">
            <div class="pl-3 b-b _600">
                <div class="title-container">
                    <div class="sub-title-new">
                        @ViewBag.Title
                    </div>*@
                    <div class="sub-tab-actions">
                        <input type="button" id="btnAdd" class="btn btn-primary " @*id="btn-show-modal" data-toggle="modal" data-target="#importModal"*@ value="Add Contact">
                    </div>
                @*</div>
            </div>
        </div>
    </div>*@
</form>

<script>

    $('#btnAdd').click(function () {

        // Checking whether FormData is available in browser
        if (window.FormData !== undefined) {            
            //$("#loader").show();

            var contactData = { "FirstName": String.empty, "LastName": false, "Email": String.empty, "PhoneNumber": "", "Status": "Status" }


            $.ajax({
                type: "Post",
                url: "/ContactDetails/Contact/AddContact",
                data: {
                    contact: contactData,
                    //selectedFileId: document.getElementById('selectedFileId').innerText
                },
                datatype: 'html',
                success: function (data) {
                    toastr.success("Successfully Added...");

                    /*updateChildData(columnData);
                    $("#loader").hide();*/
                }
            });

            /*$.ajax({
                url: '/ContactDetails/ImportProcesses/ImportFiles',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                cache: false,
                data: fileData,
                success: function (result) {
                    if (!result.isError) {
                        toastr.success(result.msg);
                        GetActiveImportedTypeList(result.fileType);
                        //$("#loader").hide();
                    }
                    else {
                        toastr.warning(result.msg);
                        $('#warningMsg').text(result.msg);
                        //$("#loader").hide();
                        setTimeout(function () { $('#importModal').modal('show'); }, 300);
                    }
                },
                error: function (err) {
                    toastr.error(err.statusText);
                    //$("#loader").hide();
                },
                complete: function (data) {
                    $('#myForm')[0].reset(); // this will reset the form fields
                    //$("#loader").hide();
                }
            });*/
        } else {
            toastr.warning("File format is not supported.");
        }
    });

</script>