.checkbox-group{
    display: flex;
    margin-bottom: 5px;
    .chk-btn{

    }
    .chk-input{

    }
    .chk-delete{
        margin-left: 10px;
        margin-top: 5px;
    }
}
.radio-group{
    display: flex;
    margin-bottom: 5px;
    .radio-btn{

    }
    .radio-input{

    }
    .radio-delete{
        margin-left: 10px;
        margin-top: 5px;
    }
}